WITH
    VALIDATION_TABLE AS (
        SELECT
            TABLE_ID,
            TARGET,
            PREDICTED
        FROM {{ model_validation_table | safe }}
    ),
    MULTI_CLASS_HIT_RATE AS (
        SELECT
            PREDICTED,
            TARGET,
            COUNT(DISTINCT TABLE_ID) AS HITS
        FROM VALIDATION_TABLE
        GROUP BY PREDICTED, TARGET
    ),
    TOTALS_FOR_EACH_CLASS AS (
        SELECT
            TARGET,
            COUNT(DISTINCT TABLE_ID) AS TOTALS
        FROM VALIDATION_TABLE
        GROUP BY TARGET
    )
SELECT
    TARGET,
    PREDICTED,
    HITS::FLOAT / TOTALS::FLOAT AS HIT_RATE,
    TOTALS as TOTAL
FROM MULTI_CLASS_HIT_RATE
LEFT JOIN TOTALS_FOR_EACH_CLASS USING(TARGET)
WHERE TARGET = PREDICTED
