WITH
    SHAP_VALUES AS (
        SELECT
            TABLE_ID,
            FEATURE,
            SHAP_VALUE,
            MODEL_NAME,
            RANK() OVER(PARTITION BY TABLE_ID ORDER BY FEATURE) - 1 AS FEATURE_VALUE_MAPPING
        FROM {{schema | safe}}.METIS_SHAP_VALUES_FOR_MODEL_EXPLAIN
        WHERE TABLE_ID = '{{selected_entity_id | safe}}'
        AND MODEL_NAME = '{{model_name | safe}}'
    ),
    ACTUAL_VALUES AS (
        SELECT
            TABLE_ID,
            FEATURE,
            VALUE AS ACTUAL_VALUE
        FROM {{schema | safe}}.METIS_DATA_USED_TO_EVALUATE_SHAP
        WHERE TABLE_ID = '{{selected_entity_id | safe}}'
        AND MODEL_NAME = '{{model_name | safe}}'
    ),
    TAKE_MODEL_BASE_RATE AS (
        SELECT
            MODEL_NAME,
            SHAP_BASE_RATE
        FROM {{schema | safe}}.METIS_SHAP_BASE_RATES
        WHERE MODEL_NAME = '{{model_name | safe}}'
    ),
    JOIN_PREVIOUS_VIEWS AS (
        SELECT
            *
        FROM SHAP_VALUES
            LEFT JOIN ACTUAL_VALUES USING(TABLE_ID, FEATURE)
            LEFT JOIN TAKE_MODEL_BASE_RATE USING(MODEL_NAME)
    )
SELECT * FROM JOIN_PREVIOUS_VIEWS
