name: {{ project_name }}
version: '0.1.0'
config-version: 2

profile: {{ database_name }}

model-paths: ["models"]
seed-paths: ["seeds"]
test-paths: ["tests"]
macro-paths: ["macros"]

target-path: "target"
clean-targets:
  - "target"
  - "dbt_packages"
  - "logs"

models:
